#main_viewport {
    display: block;
    height:96%;
}

.dogsearch{
    margin-top: 16px;
    margin-bottom: 3px;
}

.col-6 {
    text-align:  -webkit-center;
}

.card{
    height: 26em;
    width: 15em;
    border-radius: calc(0.5rem - 1px);
    margin-bottom: 4px;
    margin-top: 4px;


}
.card-body{
    max-height:12em;
    position: absolute;
    bottom: 0.25em;
    margin-top: 4px;
    padding: 0.75em
}

.frame {
    height: 200px;      /* equals max image height */
    width: 220px;
    border: 1px solid red;
    white-space: nowrap;
    
    text-align: center; margin: 1em 0;
}

.helper {
    display: inline-block;
    height: 200px;
    vertical-align: top;
    background: #000;
}

.imgdiv {
    margin-top: 10px;
    margin-bottom: 4px;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 220px;
}

.picureframe{
    vertical-align: middle;
    width: 220px;
    height: 200px;
}

img{
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.card-img-top,.modalimg{
    border-radius: calc(1rem - 1px);
}

.modal-dialog{
    max-width: 90vw;
    max-height: 90vw;
}

#modalhead{
    margin-bottom: 6px;
}

.modalimgdiv {
    vertical-align: middle;
    justify-content: center;
    max-height: 800px;

}
 
 
.imgdiv {
    margin-top: 10px;
    margin-bottom: 4px;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    text-align: center;

}


.modal-img{
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
    max-width: inherit;
    max-height: 800px;
    height: auto;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: calc(1rem - 1px);

}
.card-img-top {
    max-height: 192px;
    max-width: 200px;
    width: auto;
    height: auto;
}


.picureframe{
    vertical-align: middle;
    width: 220px;
    height: 200px;
}

.img-fluid {
    max-width: 100%;
    max-height: inherit;
    height: auto;
}




/* Portrait and Landscape */
@media (max-width: 600px)  { 

    .card{
        height: 18em;
        width: 9em;
        border-radius: calc(0.5rem - 1px);
        margin-bottom: 2px;
        margin-top: 2px;
    }

    .card-text{
        font-size: smaller;
    }

    .card-body{
        max-height:12em;
        position: absolute;
        bottom: 0.25em;
        margin-top: 4px;
        padding: 0.75em
    }
    .card-title{
        font-size: medium;
    }

    .imgdiv {
        margin-top: 10px;
        margin-bottom: 4px;
        vertical-align: middle;
        width: 128px;
        height: 128px;
        text-align: center;
    }
    
    .picureframe{
        vertical-align: middle;
        width: 128px;
        height: 128px;
    }
    .card-img-top {
        max-height: 120px;
        max-width: 120px;
        width: auto;
        height: auto;
    }
    .btn {
        padding: 0px;
    }
    

}
