<!DOCTYPE html>

<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">


        <!-- Optional meta tags -->
        <meta property='og:title' content='Dog Breeds'/>
        <meta property='og:image' content='//https://www.gannett-cdn.com/presto/2020/03/24/USAT/866ee04e-9c56-4f84-ada3-e0c0ea0c0fb3-XXX_FUN_SMARTPET_041814.JPG'/>
        <meta property='og:description' content='Lots of dog breeds.'/>
        <meta property='og:url' content='https://justdogs.herokuapp.com' />
        <title>🐶Just Dogs 🐶</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      
        <link rel="stylesheet" href="static/style.css">
        <script>
            window.onload=updatePagination();
            window.onload=updateForDevice();
//            window.onload=gotoDog()


            function updateForDevice(){
              if (window.matchMedia("(max-width: 700px)").matches){
                $('.coldef').removeClass('col-lg-3')
                $('.coldef').addClass('col-sm-6')
              }
              else{
                $('.coldef').removeClass('col-sm-6')
                $('.coldef').addClass('col-lg-3')
              }
            }
            function getUrlVars() {
                    var vars = {};
                    var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
                        vars[key] = value;
                    });
                    return vars;
                }
            
            
            
            function gotoDog(dog){
                var dog_pages = {
                    {% for d in pagedict %}
                        "{{ d[0] }}" : {{ d[1] }},
                    {% endfor %}
                }
                dog = dog.val();
                var currentPage = parseURL(window.location.href).pathname.replace("/","");
                window.open("/"+dog_pages[dog]+"#"+dog, "_self");
                }

            function parseURL(url) {
                var parser = document.createElement('a'),
                    searchObject = {},
                    queries, split, i;
                // Let the browser do the work
                parser.href = url;
                // Convert query string to object
                queries = parser.search.replace(/^\?/, '').split('&');
                for( i = 0; i < queries.length; i++ ) {
                    split = queries[i].split('=');
                    searchObject[split[0]] = split[1];
                }
                return {
                    protocol: parser.protocol,
                    host: parser.host,
                    hostname: parser.hostname,
                    port: parser.port,
                    pathname: parser.pathname,
                    search: parser.search,
                    searchObject: searchObject,
                    hash: parser.hash
                };
            }
            
            function updatePagination(){
                var currentPage = parseURL(window.location.href).pathname.replace("/","")
                if (currentPage=='1'){
                    $('#prev').addClass('disabled')
                }
                else{
                    $('#prev').removeClass('disabled')
                }
            }
            function loadnext(){
                var currentPage = parseInt(parseURL(window.location.href).pathname.replace("/",""))
                if (Number.isNaN(currentPage)){
                    currentPage=1
                }
                
                window.open('/'+(currentPage+1), "_self")
            }
        </script>


    </head>
    <body>
        <div class="container">
            <div class='row'>
               
                <!--Make sure the form has the autocomplete function switched off:-->
                <form autocomplete="off" action="#" onsubmit="return gotoDog(this);">
                    <div class="autocomplete" style="width:700px;">
                    <input id="myInput" type="text" name="breed" placeholder="Dalmation">
                    <input type="button" value="Search" onclick="gotoDog($('#myInput'))">
                    </div>
                </form>



            </div>
            <script>
                

                function autocomplete(inp, arr) {
                    /*the autocomplete function takes two arguments,
                    the text field element and an array of possible autocompleted values:*/
                    var currentFocus;
                    /*execute a function when someone writes in the text field:*/
                    inp.addEventListener("input", function(e) {
                        var a, b, i, val = this.value;
                        /*close any already open lists of autocompleted values*/
                        closeAllLists();
                        if (!val) { return false;}
                        currentFocus = -1;
                        /*create a DIV element that will contain the items (values):*/
                        a = document.createElement("DIV");
                        a.setAttribute("id", this.id + "autocomplete-list");
                        a.setAttribute("class", "autocomplete-items");
                        /*append the DIV element as a child of the autocomplete container:*/
                        this.parentNode.appendChild(a);
                        /*for each item in the array...*/
                        for (i = 0; i < arr.length; i++) {
                            /*check if the item starts with the same letters as the text field value:*/
                            if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                            /*create a DIV element for each matching element:*/
                            b = document.createElement("DIV");
                            /*make the matching letters bold:*/
                            b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
                            b.innerHTML += arr[i].substr(val.length);
                            /*insert a input field that will hold the current array item's value:*/
                            b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
                            /*execute a function when someone clicks on the item value (DIV element):*/
                                b.addEventListener("click", function(e) {
                                /*insert the value for the autocomplete text field:*/
                                inp.value = this.getElementsByTagName("input")[0].value;
                                /*close the list of autocompleted values,
                                (or any other open lists of autocompleted values:*/
                                closeAllLists();
                            });
                            a.appendChild(b);
                            }
                        }
                    });
                    /*execute a function presses a key on the keyboard:*/
                    inp.addEventListener("keydown", function(e) {
                        var x = document.getElementById(this.id + "autocomplete-list");
                        if (x) x = x.getElementsByTagName("div");
                        if (e.keyCode == 40) {
                            /*If the arrow DOWN key is pressed,
                            increase the currentFocus variable:*/
                            currentFocus++;
                            /*and and make the current item more visible:*/
                            addActive(x);
                        } else if (e.keyCode == 38) { //up
                            /*If the arrow UP key is pressed,
                            decrease the currentFocus variable:*/
                            currentFocus--;
                            /*and and make the current item more visible:*/
                            addActive(x);
                        } else if (e.keyCode == 13) {
                            /*If the ENTER key is pressed, prevent the form from being submitted,*/
                            e.preventDefault();
                            if (currentFocus > -1) {
                            /*and simulate a click on the "active" item:*/
                            if (x) x[currentFocus].click();
                            }
                        }
                    });
                    function addActive(x) {
                        /*a function to classify an item as "active":*/
                        if (!x) return false;
                        /*start by removing the "active" class on all items:*/
                        removeActive(x);
                        if (currentFocus >= x.length) currentFocus = 0;
                        if (currentFocus < 0) currentFocus = (x.length - 1);
                        /*add class "autocomplete-active":*/
                        x[currentFocus].classList.add("autocomplete-active");
                    }
                    function removeActive(x) {
                        /*a function to remove the "active" class from all autocomplete items:*/
                        for (var i = 0; i < x.length; i++) {
                        x[i].classList.remove("autocomplete-active");
                        }
                    }
                    function closeAllLists(elmnt) {
                        /*close all autocomplete lists in the document,
                        except the one passed as an argument:*/
                        var x = document.getElementsByClassName("autocomplete-items");
                        for (var i = 0; i < x.length; i++) {
                        if (elmnt != x[i] && elmnt != inp) {
                        x[i].parentNode.removeChild(x[i]);
                        }
                    }
                    }
                    /*execute a function when someone clicks in the document:*/
                    document.addEventListener("click", function (e) {
                        closeAllLists(e.target);
                    });
                    }


                var states = [
                    {% for name in allnames %}
                    '{{ name }}', 
                    {% endfor %}
                ]
                
            </script>



<script>
    autocomplete(document.getElementById("myInput"), states);
    </script>
         <div class='row'>
             
            <div id="main_viewport" class="container overflow-auto">
                    {% for set in breeds %}
                        <div class="row">
                        {% for breed in set %}
                        <div class="col-sm-6 col-lg-3 coldef">
                            <div id="dogcard" class="align-self-center">

                            <section id="{{breed[1]}}">
                                <div class="card">
                                <div class="imgdiv">
                                        <img class="card-img-top" src="{{ breed[5] }}" alt="Card image cap">

                                    </div>
                                    <div class="card-body">
                                    <h5 class="card-title">{{ breed[1] }}</h5>
                                    <p class="card-text"> {{ breed[2] }}  </p>
                                    <!-- <a href="#{{breed[1]}}" onclick="expand({{breed[0]}})" id="bt{{breed[0]}}" class="btn btn-primary">Expand</a> -->
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#m{{breed[0]}}">
                                        Expand
                                    </button>
                        </div>
                    </div>

                </section>
                        
            </div>
        </div>
                        <div class='row'><div class="col-md-12"><br></div></div>
                        <!-- <div class="col-md-1" style="width:20px;">
                        </div> -->
                            <!-- Modal -->
                        <div class="modal fade" id="m{{breed[0]}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="container">
                                <div class='row'>
                                    <div class="col-md-12" id="modalhead">
                                        <br>
                                        <h4 class="modal-title" id="modal{{ breed[1] }}">{{ breed[1] }}</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                </div>

                                
                                <div class='row' style="margin-bottom: 6px;">
                                
                                    <div class="col-md-8" id='modalpic'>
                                    <div class="modalimgdiv">
                                        <img class="img-fluid modalimg" src="{{ breed[5] }}" alt="Card image cap">
                                    </div>
                                </div>
                                    <div class="col-md-4" id='modaldesc'>
                                        
                                            <strong>Bred for:</strong> {{ breed[2] }} <br> 
                                            <strong>Breed Group:</strong> {{ breed[3] }} <br> 
                                            <strong>Temperament: </strong>{{ breed[4] }} </p>
                                    
                                    </div>
                                </div>
                                

                                <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                        </div>
                {% endfor %}
            </div>
        
        </div>
        

        <div class="row">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                  <li id='prev' class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                  </li>
                  {% for p in pages %}
                    <li class="page-item"><a class="page-link" href="/{{ p }}">{{ p }}</a></li>
                  {% endfor %}
                  <li id='prev' class="page-item">
                    <a class="page-link" onclick="loadnext()" href="#">Next</a>
                  </li>
                  </li>
                </ul>
              </nav>
        </div>
</div>

<script>
    function expand(id){
        if ($('#jt'+id)[0].style.visibility=='hidden'){
            $('#jt'+id)[0].style.visibility='visible';
            $('#jt'+id)[0].style.height='fit-content';
            $('#jt'+id)[0].style.height='fit-content';
            $('#bt'+id)[0].text='Collapse';
            $('#jbt'+id)[0].text='Up';
            
        }
        else{
            $('#jt'+id)[0].style.visibility='hidden';
            $('#jt'+id)[0].style.height='0em';
            $('#bt'+id)[0].text='Expand';
        }
        
    }
</script>
</body>
</html>