<!DOCTYPE html>

<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      
        <link rel="stylesheet" href="static/style.css">

    </head>
    <body>
        <div class="container">
        {% for set in breeds %}
            <div class="row">
            {% for breed in set %}
            <div class="col-md-3">
              <div id="dogcard" class="align-self-center">
                <div class="card">
                <div class="imgdiv">
                <span class="imgholder">
                    <div class="pictureframe">
                        <img class="card-img-top" src="{{ breed[5] }}" alt="Card image cap">

                    </div>
                </span>
                </div>
                    <div class="card-body">
                    <h5 class="card-title">{{ breed[1] }}</h5>
                    <p class="card-text"> {{ breed[2] }}  </p>
                    <section id="{{breed[1]}}">
                    <!-- <a href="#{{breed[1]}}" onclick="expand({{breed[0]}})" id="bt{{breed[0]}}" class="btn btn-primary">Expand</a> -->
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#m{{breed[0]}}">
                        Expand
                    </button>
                        </section>
                    </div>
                </div>

            </div>
               
            </div>
            <div class='row'><div class="col-md-12"><br></div></div>
            <!-- <div class="col-md-1" style="width:20px;">
            </div> -->
                <!-- Modal -->
            <div class="modal fade" id="m{{breed[0]}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="container">
                    <div class='row'>
                        <div class="col-md-12" id="modalhead">
                            <br>
                            <h4 class="modal-title" id="modal{{ breed[1] }}">{{ breed[1] }}</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                    </div>

                    
                    <div class='row' style="margin-bottom: 6px;">
                    
                        <div class="col-md-8" id='modalpic'>
                        <div class="modalimgdiv">
                            <img class="img-fluid modalimg" src="{{ breed[5] }}" alt="Card image cap">
                        </div>
                    </div>
                        <div class="col-md-4" id='modaldesc'>
                            
                                <strong>Bred for:</strong> {{ breed[2] }} <br> 
                                <strong>Breed Group:</strong> {{ breed[3] }} <br> 
                                <strong>Temperment: </strong>{{ breed[4] }} </p>
                        
                        </div>
                    </div>
                    

                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                    </div>
                </div>
                </div>
            </div>

            
            
             <div class="jumbotron" id='jt{{breed[0]}}' style="visibility: hidden; height: 0em;">
                    <h1 class="display-4">{{ breed[1] }}</h1>
                    <p class="lead">{{ breed[2] }} </p>
                    <hr class="my-4">
                     <img src="{{ breed[5] }}" width='700px'>
                    <p class="lead">
                        {{ breed[2] }} <br> {{ breed[3] }} <br> {{ breed[4] }} </p>
                    <a class="btn btn-primary btn-lg" id="jbt{{breed[0]}}" href="#" role="button">Learn more</a>
                    </p>
                    </div>
            </div>
          {% endfor %}
            </div>
      {% endfor %}
    </div>

<script>
    function expand(id){
        if ($('#jt'+id)[0].style.visibility=='hidden'){
            $('#jt'+id)[0].style.visibility='visible';
            $('#jt'+id)[0].style.height='fit-content';
            $('#jt'+id)[0].style.height='fit-content';
            $('#bt'+id)[0].text='Collapse';
            $('#jbt'+id)[0].text='Up';
            
        }
        else{
            $('#jt'+id)[0].style.visibility='hidden';
            $('#jt'+id)[0].style.height='0em';
            $('#bt'+id)[0].text='Expand';
        }
        
    }
</script>
</body>
</html>